<h1>Score!</h1>
<p>Your answer was:</p> <%= @answer %>

<p>Your score is:</p> <%= @score %>

<p>Was it an english world?</p> <%= @check_if_word %>

<p>Were your words included?</p> <%= @check_letters %>

<p>letters were</p> <%= @letters_hash %>

<p>Your word's letters were</p> <%= @answer_hash %>
